:root {
  font-family: "Space Grotesk", sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-image: url("/public/asteroid-10.jpg");
  background-repeat: no-repeat;
  background-position: center 5%;
  background-attachment: fixed;
  background-size: cover;
}

#root {
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

html {
  height: 100%;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  padding: 8px;
  border: 1px solid #ddd;
  width: 25%;
  background-color: rgba(2, 2, 2, 0.8);
}

h2,
h3 {
  text-shadow: 0px 2px 10px black;
}

.main-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-shadow: 0px 2px 10px black;
}

.error-msg {
  color: red;
  text-shadow: 2px 2px 10px red;
  margin: 35px 10px;
  margin-top: 0px;
}

.datepicker {
  background-color: rgba(2, 2, 2, 0.8);
  font-family: inherit;
  border-radius: 20%;
  color: white;
  text-align: center;
}

.loading {
  margin: 10px 5px;
}

.search-button {
  background-color: #2b2c2e;
  color: white;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 4px 7px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  text-align: center;
  margin: 2% 3%;
  width: auto;
  margin-bottom: 4%;
  font-weight: bold;
}

.search-button:hover {
  background-color: #86888b;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.search-button:active {
  background-color: #031629;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.button:disabled {
  background-color: #2b2c2e;
  cursor: not-allowed;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
  :root {
    font-size: 14px;
  }

  .main-container {
    padding: 5px;
  }

  .search-button {
    margin: 2% auto; /* Center the search button horizontally */
    margin-bottom: 5%;
  }
}
