#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  width: 100%;
  table-layout: fixed; /* Set table layout to fixed */
  border-collapse: collapse;
}

.datepicker {
  background-color: rgba(2, 2, 2, 0.8);
  font-family: inherit;
  border-radius: 20%;
  color: white;
  text-align: center;
}

th,
td {
  text-align: center;
  padding: 8px;
  border: 1px solid #ddd;
  width: 25%;
  background-color: rgba(2, 2, 2, 0.8);
}

h2,
h3 {
  text-shadow: 0px 2px 10px black;
}

.main-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-shadow: 0px 2px 10px black;
}

.error-msg {
  color: red;
  text-shadow: 2px 2px 10px red;
  margin: 20px 10px;
  margin-top: 0px;
}
